body{
  font-family: arial;
}
h1.textStyle
{   
  margin-top: 23%;
  margin-bottom: 23%;
  font-size: 300%;
}

h1
{   
	font-family: "Georgia";
	text-align: center;
	padding-top: 15px;
	color: white;
}

h2
{
  text-align: center;
  color: white;
}

p{
	font-family: "Georgia";
}
p.blackText{
	font-size: 30px;
	color: #251919;
	text-align: center;
}

#blockOfHomeImages{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1041px;	
}
#images{
	margin-bottom: 5%;
}

div.fon
{
  text-align: center;
  font-size: 22px;
}
aside.contactL
{
  float: left;
  width: 50%;
  height: 400px;
}
aside.contactR
{
  float: right;
  width: 30%;
  height: 400px;
}
p.te
{
  font-size: 28px;
  color: black;
 
}
p.con
{
  color: black;
}

div.kil
{
  padding: 5px 0px 0px 0px; 
  background: url("KilmainhamJail.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}
p.kilmainham
{
 padding-top: 100px;
font-family: arial;
font-size: 18px;
margin: 0 auto;
width: 80%;
color: #FFFFFF;
text-align: justify;
}

div.croke
{
  padding: 5px 0px 0px 0px; 
  background: url("crokepark.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  width: 100%;
}
p.crokep
{
	padding-top: 100px;
	font-family: arial;
	font-size: 18px;
	margin: 0 auto;
	width: 20%;
	color: #FFFFFF;
	text-align: justify;
  padding-left: 20px;
  float: left;
  font-size: 16px;
  width: 400px;
  color: #ffffff;
}

div.blar
{
  padding: 5px 0px 0px 0px; 
  background: url("blarneystone.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}

p.blarney
{
 padding-top: 150px;
font-family: arial;
font-size: 18px;
margin: 0 auto;
width: 80%;
color: #FFFFFF;
text-align: justify;
}

div.newgrange1
{
  padding: 5px 0px 0px 0px; 
  background: url("newgrange2.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}

p.newgrange2
{
	padding-top: 100px;
	font-family: arial;
	font-size: 18px;
	margin: 0 auto;
	width: 80%;
	color: #FFFFFF;
	text-align: justify;
}
div.gp
{
  padding: 5px 0px 0px 0px; 
  background: url("gpo1.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}

p.g
{
	padding-top: 250px;
	font-family: arial;
	font-size: 18px;
	margin: 0 auto;
	width: 80%;
	color: #FFFFFF;
	text-align: justify;
}

div.dublin
{
  padding: 5px 0px 0px 0px; 
  background: url("dublincastle.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}
p.dublincastle
{
padding-top: 200px;
font-family: arial;
font-size: 18px;
margin: 0 auto;
width: 80%;
color: #FFFFFF;
text-align: justify;
}

.gpoo
{  
  padding: 20px 20px 20px 20px;  
  height: 300px;
  width: 300px;
}

footer.foot
{   
	margin-top: 3%;
	text-align: center;
	height: 120px;
	font-size: 20px;
}
.foot1
{ 
  text-decoration: none;
  color: #020202;
}
.foot1:hover
{
  color: #3bff00;
  text-decoration: none;
}
.copy
{ color: #000000;
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}


.pageBackground { 

	
	width: 100%;
	height: 100%;
	background: url(ireland-4.jpg) no-repeat center center fixed; 
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
  
	background-size: 100% 100%;
}

div {
	 display: block;
	}	

.center{
	padding-right: 10%;
  padding-left: 10%;
	margin: auto;
  width: 80%;	
}
.center2{
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  padding-left: 23%;
  padding-right: 10%  
}
.center3{
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23%;
  margin: 0 auto;
  padding-right: 10%
}
p{  
	font-size: 20px;
	color: white;
}

a:link {
    text-decoration:none;
}

a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:none;
}

aside.floatRight{
	float: right;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid  #333;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #333;
  content: open-quote;
  font-size: 12em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #333;
  content: close-quote;
  font-size: 12em;
  line-height: 0.1em;
  margin-right: 0.30em;
  vertical-align: -0.75em;
}
blockquote p {
  display: inline;
  font-size: 15px;
  font-style: oblique;
}

nav.align{
	display: block;
	width: 1024px;
	margin-left: 0;
}

footer.centerFooter{
	margin-left: auto;
	margin-right: auto;
	width:250px;
	margin-top: 0px;
	padding-top: 5%;
}

aside.floatRight{
	float: right;
}

article > p{

}

/*div.backgroundSection{
	background: url(ireland-4.jpg) no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
	  height: 100%;
	  margin: 0;

	
}*/

#content1 {
    margin-top: 40px;
    /*border: 2px solid #a1a1a1;*/
    padding: 10px 15px; 
    /*background: url(ireland-4.jpg);*/
    /*border-radius: 25px;*/
	display: block;
}

#menu9 {
display: inline-block;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;

	}
	
#menu9  ul{
	height: 156px;

	list-style-type: none;
	margin: 0;
	padding: 0;
	outline: none;
	float:right;
	margin-right: 15%;
	position: relative;
}

#menu9  ul  li{
	display: inline-block;
}
	
#menu9 li a:link, #menu9 li a:visited {
	color: #5C5C5C;

	padding: 8px 35px 0 35px;
	
}

#menu9 ul li a,visited{
	/*background:  url(menu9.gif);
	padding: 8px 35px 0 35px;*/

	display: block;
	text-decoration: none;
}
#menu9 ul li a:hover {
	/*color: #FFF;*/
	/*background:  url(menu9.gif) 0 -32px;*/
	background:  url(menu9.gif);
	padding: 8px 35px 0 35px;
	text-decoration: none;
}
#menu9 ul li:hover ul{
display: block;
}

#menu9 ul ul{
	display: none;
	position: absolute;
	background-color: #53CF29;
}

#menu9 ul ul li{
	display: block;
}

.banner{

  background: url(irelandlogo.png) no-repeat;
   background-position: 20% 50%;
    background-color: #FFFFFF;
 
  background-size: 10% 75%;
  height: 170px;
  width: 100%;
}

.headingAlignment{
	margin-left: 28%;
}


.text-site-heading-small {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-style: oblique;
  font-size: 1.1em;
  color: #999;
  float: left;
  margin-top: 50px;
}

.text-site-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: avenirblack,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  font-size: 2.2em;
  font-weight: 400;
  color: #666;
  letter-spacing: -.01em;
  text-align: left;
padding-top: 30px;
}
.wrapper{
  margin: 0 auto;
  width: 100%;
}

#address{
	margin-top: 5%;
	width: 600px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

div.ever 
{
width: 20%;
height: 20%;
}



 style="overflow:hidden;height:500px;width:600px;"


